
body {
    height: 100%;
    background-image: url("https://i.gifer.com/SBtN.gif");
    background-repeat: no-repeat;
    top: -80;
   
}
#hi{
    align-items: center;
}
.leading-relaxed text-lg {
    color: black;
}

.twittersvg {
  -webkit-user-drag: none;
  height: 34px;
  width: 34px;
  position: relative;
  left: 80px;
  top: 10px
  
  
}
.githubsvg {
  -webkit-user-drag: none;
  height: 34px;
  width: 34px;
  position: relative;
  right: 83px;
  top: -30px;
}

.discordsvg {
  height: 34px;
  width: 34px;
  position: relative;
  top: -62px;
  -webkit-user-drag: none;
  
}

.buttontwitter {


}

.buttondiv{

 right: 100px;

}


