
body {
    height: 100%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5dc1c4a7-ed33-4d59-b60a-329a79f078bd/d2p50s9-a293be46-5768-44fc-8df8-db918c32e853.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVkYzFjNGE3LWVkMzMtNGQ1OS1iNjBhLTMyOWE3OWYwNzhiZFwvZDJwNTBzOS1hMjkzYmU0Ni01NzY4LTQ0ZmMtOGRmOC1kYjkxOGMzMmU4NTMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9xmT9G9RSkXJ_ObhzikWJunCqDFKADKcY6wPMCbLER0");
    background-repeat: no-repeat;
    
   
}
#hi{
    align-items: center;
}
.leading-relaxed text-lg {
    color: black;
}

.twittersvg {
  height: 34px;
  width: 34px;
  position: relative;
  left: 80px;
  

  
}
.githubsvg {
  height: 34px;
  width: 34px;
  position: relative;
  right: 83px;
  top: -33px;
}

.discordsvg {
  height: 34px;
  width: 34px;
  position: relative;
  top: -62px;
}

.buttontwitter {
  
}

